/* card */

.card {
  position: relative;
  width: 960px;
  margin: 40px auto;
  background: white;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  border-radius: 2px;
  border: 0;
}

.card .id {
  position: absolute;
  right: 20px;
  top: -10px;
  padding: 50px 20px 10px 10px;
  opacity: 0.7;
  color: teal;
}

.card:before {
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: red;
}

.card img {
  opacity: 0.4;
}

.card a.video:before {
  content: "";
  display: block;
  width: 30px;
  height: 24px;
  float: left;
  background: url(images/ic_videocam_24px.svg) no-repeat;
  opacity: 0.4;
}


.card a.video{
  position: absolute;
  bottom: 50px;
  right: 40px;
  line-height: 24px;
  text-decoration: none;
  color: teal;
}
.card a.video:hover {
  text-decoration: underline;
}

.card ul {
  padding: 10px 40px 40px;
}
.card ul li {
  line-height: 1.9;
}

.card h3 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.2;
  position: relative;
  padding: 45px  20px 0 20px;
}
