
/* common.css */


* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media ( max-width: 970px ) {
  // 只要装不下 960px 的 container 的时候，就改为手机布局
  // 这样在 ipad 上表现并不一定完美，但是也一定是可以看的
  // 如果设置成到 500px 才改，那么 500~960 的设备宽度上就完蛋了
  .container {
    width: 97%;
  }
}
h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  color: #777;
  background: rgb(242, 242, 242);
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

@media ( max-width: 970px ) {
  body {
    font-size: 90%;
  }
}

