/* header */
.header {
  background: rgb(60, 60, 60);
  margin-bottom: 70px;
}

.header .container {
 position: relative;
}

.header .intro {
  color: rgb(156, 156, 156);
  padding: 15px 0 50px;
  margin: 0;
}
.header .logo  {
  position: absolute;
  bottom: -30px;
  right: 5px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 15px;
  background: #41a9cc;
  border-radius: 50%;
  border: 1px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.header .logo svg {
  fill: white;
  width: 30px;
  height: 30px;
}
@media ( max-width: 970px ) {

  .header .logo {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .header .logo svg {
    width: 20px;
    height: 20px;
  }
}

.header .logo:hover {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.26);
}


.header .name{
  padding: 50px 0 10px;
  font-weight: normal;
  font-size: 1.7em;
  color: white;
  display: block;
}

@media ( max-width: 970px ) {

  .header .name {
    padding: 30px 20px 7px;
  }
  .header .intro {
    padding: 15px 20px 30px;
  }
}

/* footer */

.footer {
  height: 440px;
  background: #444;
  margin-top: 60px;
}

.footer a {
  display: block;
  text-align: center;
  padding-top: 20px;
  color: #9c9c9c;
}
