<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="favicon.png">
  <script type='text/javascript' src='javascript/jquery-2.1.3.min.js'></script>
</head>
<body>
  <div class="header">
    <div class="container">
      <a href="/" class="name">小白变怪兽卡片</a>
      <p>
            web 前端开发手把手教程，适合0基础的同学，卡片难度由上到下递增。
      </p>
      <a class="logo" href="http://haoduoshipin.com/q">
        <img src="images/logo.png">
      </a>
    </div>
  </div>

  {{ content }}

  <div class="footer">
    <a href="http://haoduoshipin.com">好多视频网</a>
  </div>
</body>
</html>
